*{
    margin:0;
    padding:0;
    
}
#header{
    height:800px;
    background-image: url();
    background-position: center;
    background-size: cover;
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, blue 50%, #E4E9FD 43%,pink 34%);
    min-height: 1000px;
}
.container{
    margin-right: 50px;
    margin-left: 50px;
}
.logo{
    margin-top: 10px;
    width:100px;
}
.header-text{
    max-width: 340px;
    margin-top: 140px;
    margin-left: 400px;
    margin-bottom: 100px;
}
h1{
    font-size:40px ;
    color:blue
}
.square{
    height:12px;
    width:12px;
    display:inline-block;
    background: blue;
    margin: 15px 0;
}
.common-btn{
    padding:10px 20px 20px;
    background: transparent;
    outline: none;
    border:2px solid pink;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}
p big i{
    font-size: 20px;
    line-height: 18px;
    color:black
}
.header-text button{
    margin-top: 20px;
    margin-bottom: 60px;
}
.line-1{
    width: 15px;
    height:15px;
    background:pink;
    display:inline-block;
 
}
.line-2{
    width:80px;
    height:1px;
    background: pink;
    display:inline-block;
}
.line-3{
    width:60px;
    height:1px;
    background: pink;
    display: inline-block;
}
.line{
    line-height: 8px;
}
ul li{
    list-style: none;
    margin:10px 10px;
    color: pink;
}