*{
    margin:0;
    padding:0;
    
}
mark h1{
   color:rosybrown;
   text-align: center;
   text-shadow: 3px 2px grey;
   font-size:  60px;
   text-align-last: auto;
   font-weight: bolder;
}
 .logo{
   margin-top: 10px;
   width:100px;
}
#header-text{
   max-width: 340px;
   margin-top: 170px;
   margin-left: 100px;
   text-shadow: 3px 2px grey;
   color:green;
   font-size: 40px;
}
#header{
    height:800px;
}
.topnav {
    background-color:grey;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: darkred;
  }
  .topnav a.active {
    background-color: darkred;
    color: black;
  }
  #about{
  padding-top: 200px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 700px;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     background-image: url();
     background-position: center;
     background-size: cover;
}
#right{
  flex-basis: 50%;
  text-align: right;

}
#contact{
  padding-top: 200px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 50px;
   display:flex;
   align-items: center;
   flex-wrap: wrap;
   background-image: url();
   background-position: center;
   background-size: cover;
   text-align: right;
   flex-basis: 50%;
   text-transform: uppercase
}
#register{
  padding-top: 200px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 700px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-image: url();
    background-position: center;
    background-size: cover;
}
#feedback{
  padding-top: 200px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 50px;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    background-image: url();
    background-position: center;
    background-size: cover;
    text-align: right;
    flex-basis: 50%;
    text-transform: uppercase
}
h1 big strong{
   color:black;
}
h1 big em{
   color:black;
}
p big i em b{
   color:black;
   display: inline;
}
p big b{
   color:black;
}

p{
   color: black;
}
q{
   color:black;
}
h1 big {
   color:black;
}
q blockquote big {
   font-size: 20px;
   line-height: 30px;
   color:black;

}
.text h2{ 
   margin:50px 0 10px;
   font-size:28px;
   font-style:italic;
}
.text h3{
   font-size:20px;
   font-style: italic;
   color: #797979;
}
p big i{
   font-size: 20px;
   line-height: 18px;
   line-height:20px;
   color:black;
}
h1{
   font-size:40px ;
   color:black;
}
.header-text button{
   margin-top: 20px;
   margin-bottom: 60px;
}
