.firstbox {
text-align: left;
background-color: #f1f1f1;
border-radius: 5px;

}
.secondbox{
background-color: #ffffff;
border-radius: 5px;
}
.thirdbox{
background-color:#ffffff;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
border-radius: 5px;
margin-top:50px;
padding-left: 0px;
padding-right: 0px;
}
table {
  border-radius:5px;
  overflow: hidden;
  border-collapse: collapse;
}
.thead{
  background-color:grey;
  text-align:center;
}
.a{
  role:button;
  text-align: center;
  color: blue;
}
.tbody{
  text-align: center;
  font-weight: lighter;
  color:white;
}
h2{
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
